
    
<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}Template Base{% endblock title %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href={% static "css/styles.css" %} rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href={% url "inicio" %}>Inicio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href={% url "cargar_articulo" %}>Cargar producto</a></li>
                        <li class="nav-item"><a class="nav-link active" href={% url "lista_de_productos" %}>Lista de productos</a></li>
                    </ul>
                    <div class="d-flex">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            {% if request.user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href={% url "datos_usuario" %}>
                                {% if request.user.infoextra.avatar  %}
                                <img src={{request.user.infoextra.avatar.url}} alt="" height="40px">
                                {% endif %}
                                {{request.user.username}}
                            </a></li>
                            <li class="nav-item">
                                <form action={% url "logout" %} method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-outline-dark text-white nav-link active" type="submit" value="Cerrar sesion">
                                </form>
                            </li>
                            {% else %}
                            <li class="nav-item"><a class="btn nav-link active" aria-current="page" href={% url "login" %}>Iniciar sesion</a></li>
                            <li class="nav-item"><a class="btn nav-link active" aria-current="page" href={% url "registro" %}>Registrarse</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">GamerThings</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Donde encontras todos tus productos de gaming</p>
                </div>
            </div>
        </header>
        <div class="container px-4 px-lg-5 my-5 bg-dark py-5">
            <div class="text-center text-white">
                {% block contenido %}
                {% endblock contenido %}
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>